<html>
<head>
    <%-  include partial_views/head.ejs %>
</head>
<body>
    <%-  include partial_views/header.ejs %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <table border="0" class="table table-borderd">
                   <thead>
                       <tr>
                           <th>Name</th>
                           <th>Roll No</th>
                           <th>Actions</th>
                       </tr>
                   </thead>
                   <tbody>
                       <% students.forEach(function(ostudent){ %>
                       <tr>
                           <td> <%= ostudent.name %></td>
                           <td> <%= ostudent.rollno %></td>
                           <td></td>

                       </tr>
                       <% }); %>
                   </tbody>
                </table>
            </div>
        </div>
    </div>
    <%-  include partial_views/footer.ejs %>
</body>
</html>